html {
  font-size: 1em;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #222;
  height: 4rem;
  color: white;
}

.App-title {
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  margin: 0;
}
